a.button1 {
    display: inline-block;
    padding: 0.35px 1.2px;
    border: 0.1px solid #FFFFFF;
    margin: 0 0.3px 0.3px 0;
    border-radius: 0.12px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

    a.button1:hover {
        color: #000000;
        background-color: #FFFFFF;
    }

@media all and (max-width:30em) {
     a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}
